---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
import { Counter } from "@components/Counter";

const counterValue = 20;
---

<MainLayout title="Favoritos">
  <Title>Islas</Title>

  <video controls autoplay transition:persist="playing-video">
    <source
      src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa"
    />
  </video>

  <div
    style={{
      height: "2000px",
      backgroundColor: "red",
    }}
  >
  </div>

  <Counter client:visible initialValue={counterValue}>
    <Title>Counter Island</Title>
  </Counter>
</MainLayout>
